@font-face{
  font-family: "Montserrat"; 
  font-weight: 700; 
  font-style: normal; 
  src: local("Lato"),
  url("../fonts/Montserrat-BoldWoff2.woff2") format('woff2'), 
  url("../fonts/Montserrat-Bold.woff") format('woff'),
  url("../fonts/Montserrat-Bold.eot") format('eot');
  font-display: swap;
}