$black: #000;
$white: #fff;

$--colors: (
  "danger": (
    // "base": $red-error,
  ),
  "error": (
    // "base": $red-error,
  ),
);

$--button: (
  // "text-color": $blue,
  // "border-color": $blue,
  // "hover-text-color": $blue,
  // "hover-border-color": $blue,
  // "hover-bg-color": $blue-light,
);
