$black: #000;
$white: #fff;
$red: #FF4F00;
$red-error: #FA3838;

$--colors: (
  "danger": (
    "base": $red-error,
  ),
  "error": (
    "base": $red-error,
  ),
);

$--button: (
  // "text-color": $blue,
  // "border-color": $blue,
  // "hover-text-color": $blue,
  // "hover-border-color": $blue,
  // "hover-bg-color": $blue-light,
);
